/*page elements*/
body {
  font-family: 'Graduate', cursive;
  background-image: url("images/footballfield3.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
   
}

#header {
  font-family: 'Graduate', cursive;
  text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: rgb(126, 245, 253);
  font-weight: bolder;
  font-size: 35.5px;
  border-radius: 40%;
}
#headerTwo {
  font-size: 55px;
  color: rgb(218, 80, 199);
}


#header3{display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Graduate', cursive;
  color: rgb(138, 31, 226);
  text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
  font-size: 45.5px;
  font-weight: bolder;
}

main {
  display: flex;
  flex-direction: column;
  font-family: 'Graduate', cursive;
  justify-content: center;
  align-items: center;
}
/*maze elements*/
#player {
  position: absolute;
  width: 40px;
  height: 40px;
}

.mazeRow {
  flex-direction: row;
  display: flex;
}

.wall {
  background-color: rgba(255, 255, 255, 0.431);
  height: 40px;
  width: 40px;}

#start {
  background-image: url("images/path.jpg");
  
  height: 40px;
  width: 40px;
}

#finish {
  background-image: url("images/fieldgoal.png");
  
  width: 40px;
  height: 40px;
}

.walkway {
  height: 40px;
  width: 40px;
  
}
/*refresh button*/
button {
  font-family: fantasy;
  font-size: 20px;
  color: blueviolet;
}
/*winmessage elements*/
#winMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Graduate', cursive;  
}

#winMessage2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Graduate', cursive;
  color: rgb(218, 80, 199);
  font-weight: bolder;
  font-size: 70px;  
}
/*chris wilson assisted with this image setting*/
#footballimage {
  position: absolute;
  top: 110%;
}

